* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,89,130,1) 35%, rgba(0,212,255,1) 100%);
  font-family: 'Poppins', 'san-serif';
  min-height: 100vh;
}

#top {
  margin: 55px;
  display: flex;
}


.table3x3, .table9x3{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  margin: auto;
  width: auto;
  height: auto;
}

.table9x3 {

}

.single {
  border-color:black;
  background-color: white;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:15px;
  font-weight:normal;
  overflow:hidden;
  width: 65px;
  height: 65px;
  word-break:normal;
}
.single:hover {
  cursor: pointer;
}

input {
  text-align: center;
}
